<div class="container">
  <h1>Ejemplos de Pipes</h1>

  <h3>Convertir a mayúsculas:</h3>

  <p>
    Valor original:<span>{{ cadena }}</span><br />
    Valor convertido: <span>{{ cadena | uppercase }}</span><br />
  </p>

  <hr>
  <h3> Convertir a minúsculas:</h3>

  <p>
    Valor original:<span> {{ cadena }}</span><br />
    Valor convertido: <span>{{ cadena | lowercase }}</span><br />
  </p>
  <hr>
  <h3> Formatear un número:</h3>
  <p>
    Valor original:<span> {{ numero }}</span><br />
    Valor convertido: <span>{{ numero | number: "3.2-2" }}</span><br />
    Valor en euros: <span>{{ numero | currency: "EUR":true }}</span><br />
    Valor en euros (ca-ES): <span>{{ numero | number: "3.2-2":"ES" }}</span>
  </p>
  <hr>
  <h3>Serializar un JSON:</h3>
  <p>
    Valor original: <span>{{ personas }}</span><br />
    Valor convertido: <span>{{ personas | json }}</span><br />
  </p>
  <hr>
  <h3>Functions with Pipes</h3>
  <p>
    The hero's birthday is <span>{{ birthday | date: getformat() }}</span>
  </p>
  <button (click)="toggleFormat()">Toggle Format</button>

  <p>
    WELCOME TO ANGULAR:<br />
    date: <span>{{ newdate | date: "full" }}</span><br />
    date: <span>{{ newdate | date:"dd/MM/yy" }}</span><br />
  </p>
  <button (click)="addOneDay()">Add one day</button>
  <hr>
  <h3>Crear un customer-pipe (capitalize.pipe.ts: capitalize):</h3>
  <p>
    Capitalize un string (PIPE):<br />
    Valor original: <span>{{ stringTocapitalize }}</span><br />
    Valor convertido: <span>{{ stringTocapitalize | capitalize }}</span><br />
  </p>

  <hr>
  <h3>Crear un smart-truncate-pipe (smart-truncate.pipe.ts: smart-truncate):</h3>
  <p>
    smart-truncate un string (PIPE):<br />
    Valor original: <span>{{ stringToTruncate }}</span><br />
    Valor convertido: <span>{{ stringToTruncate | smartTruncate : 9

       }}</span><br />
  </p>

</div>

<hr>
<h3>Generamos un pipe para buscar un ítem en un array:</h3>
<app-item-list></app-item-list>



<router-outlet></router-outlet>
